<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pikachu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pikachu.Properties.Settings>
            <setting name="na" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="np" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="lg" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="ps" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Dark" serializeAs="String">
                <value>True</value>
            </setting>
        </Pikachu.Properties.Settings>
    </userSettings>
</configuration>